{% extends 'base.html' %}
{% block content %}
    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-conten padding-y" style="min-height:84vh">

        <!-- ============================ COMPONENT LOGIN   ================================= -->
        <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
            <div class="card-body">
                <div class="card-title mb-4 alert alert-info" role="alert">Сброс пароля</div>
                <form method="post">
                    {% csrf_token %}
                    <fieldset class="module aligned">
                        <input hidden autocomplete="username" value="era.ab.02@gmail.com">
                        <div class="form-row field-password1">
                            <div class="form-group">
                                <label for="id_new_password1">Новый пароль:</label>
                                <input type="password" name="new_password1" autocomplete="new-password" required=""
                                       id="id_new_password1" class="form-control">
                            </div>
                        </div>
                        <div class="form-row field-password2">
                            <div class="form-group">
                                <label for="id_new_password2">Подтвердите пароль:</label>
                                <input type="password" name="new_password2" autocomplete="new-password" required=""
                                       id="id_new_password2" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Сбросить пароль</button>
                        </div>

                    </fieldset>
                </form>
            </div> <!-- card-body.// -->
        </div> <!-- card .// -->

        <p class="text-center mt-4">У вас нету учетной записи? <a href="{% url 'sign_up' %}">Регистрация</a></p>
        <br><br>
        <!-- ============================ COMPONENT LOGIN  END.// ================================= -->


    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}