{% extends 'base.html' %}
{% block content %}
    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-conten padding-y" style="min-height:84vh">

        <!-- ============================ COMPONENT LOGIN   ================================= -->
        <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
            <div class="card-body">
                <h4 class="card-title mb-4">Сброс пароля</h4>
                <form method="post" autocomplete="off">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="alert alert-info">Введите э-почту</div>
                        <div class="alert alert-info" role="alert">На нее будет отправлено письмо с инструкцией по
                            сбросу пароля
                        </div>
                        {% if form.email.errors %}
                            <div class="alert alert-danger" role="alert">{{ form.email.errors }}</div>
                        {% endif %}
                        <input type="email" name="email" class="form-control"
                               placeholder="Э-почта" maxlength="254" required autocomplete="email" id="id_email">
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Отправить</button>
                    </div> <!-- form-group// -->
                </form>
                <!-- Errors -->
                {% if form.errors %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div> <!-- card-body.// -->
        </div> <!-- card .// -->

        <p class="text-center mt-4">У вас нету учетной записи? <a href="{% url 'sign_up' %}">Регистрация</a></p>
        <br><br>
        <!-- ============================ COMPONENT LOGIN  END.// ================================= -->


    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock content %}