{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- ========================= SECTION MAIN ========================= -->
    <section class="section-intro padding-y-sm">
        <div class="container">

            <div class="intro-banner-wrap">
                <img src="{% static 'images/banners/cover.jpg' %}" class="img-fluid rounded" alt="">
            </div>

        </div> <!-- container //  -->
    </section>
    <!-- ========================= SECTION MAIN END// ========================= -->

    <!-- ========================= SECTION  ========================= -->
    <section class="section-name padding-y-sm">
        <div class="container">

            <header class="section-heading">
                <a href="{% url 'shop' %}" class="btn btn-outline-primary float-right">See all</a>
                <h3 class="section-title">Popular products</h3>
            </header><!-- sect-heading -->


            <div class="row">
                {% for product in products %}
                    <div class="col-md-3">
                        <div class="card card-product-grid">
                            <div class="img-wrap owl-carousel owl-theme">
                                {% for variant_image in product.images_product.all %}
                                    <a href="{{ product.get_absolute_url }}">
                                        <img src="{{ variant_image.image.url }}" alt="{{ product.title }}">
                                    </a>
                                {% endfor %}
                            </div> <!-- img-wrap.// -->
                            <figcaption class="info-wrap">
                                <a href="{{ product.brand.get_absolute_url }}">{{ product.brand.name }}</a>
                                <a href="{{ product.get_absolute_url }}" class="title">{{ product.title }}</a>
                                <div class="price mt-1">${{ product.price }}</div>
                                <!-- price-wrap.// -->
                            </figcaption>
                        </div>
                    </div> <!-- col.// -->
                {% endfor %}
            </div> <!-- row.// -->

        </div><!-- container // -->
    </section>
    <!-- ========================= SECTION  END// ========================= -->
{% endblock %}