{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="section-content padding-y bg">
        <div class="container">

            <!-- ============================ COMPONENT 1 ================================= -->
            <div class="card">
                <div class="row no-gutters">
                    <aside class="col-md-6">
                        <article class="gallery-wrap ">
                            <div class="owl-carousel owl-theme">
                                {% for image in product.images_set.all %}
                                    <a href="#">
                                        <img src="{{ image.image.url }}" alt="">
                                    </a>
                                {% endfor %}
                            </div> <!-- img-big-wrap.// -->

                        </article> <!-- gallery-wrap .end// -->
                    </aside>
                    <form id="product" class="col-md-6 border-left" autocomplete="off">

                        <article class="content-body">
                            <h3 class="title">Бренд: {{ product.brand.name }}</h3>

                            <h4 class="section-title">{{ product.name }}</h4>

                            {#                        <div class="mb-3">#}
                            {#                            <var class="price h4">${{ product }}</var>#}
                            {#                        </div>#}

                            <p>{{ product.description }}</p>
                            <hr>
                            <div class="row">
                                <div class="item-option-select">
                                    <h6>Выбор цвета</h6>
                                    <select name="color" id="select-color" class="form-control">
                                        <option class="form-control">Выбор цвета</option>
                                        {% for product_color in product.variant_product.all %}
                                            <option class="form-control"
                                                    value="{{ product_color.color.id }}">{{ product_color.color }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div> <!-- row.// -->
                            <div class="row">
                                <div class="item-option-select">
                                    <h6>Выбор размера</h6>
                                    <select name="size" id='size' class="form-control">
                                        <option class="form-control">Выбор размера</option>
                                    </select>
                                </div>
                            </div> <!-- row.// -->
                            <div class="row">
                                <h5>Нравится :{{ product.liked_count }}</h5>
                            </div>
                            <hr>
                            <div class="row">
                                <button class="btn btn-danger">Нравится</button>
                            </div>

                            <hr>
                            {% if product.stock <= 0 %}
                                <h2 class="text-danger">Нету в наличии</h2>
                            {% else %}
                                <a href="/" class="btn  btn-primary"> <span
                                        class="text">Добавить в корзину</span> <i class="fas fa-shopping-cart"></i>
                                </a>
                            {% endif %}

                        </article> <!-- product-info-aside .// -->

                    </form> <!-- col.// -->
                </div> <!-- row.// -->
            </div> <!-- card.// -->
            <!-- ============================ COMPONENT 1 END .// ================================= -->

            <br>

            <div class="row">
                <div class="col-md-9">

                    <header class="section-heading">
                        <h3>Customer Reviews </h3>

                    </header>

                    <article class="box mb-3">
                        <div class="icontext w-100">
                            <img src="{% static 'images/avatars/avatar1.jpg' %}" class="img-xs icon rounded-circle">
                            <div class="text">
                                <span class="date text-muted float-md-right">24.04.2020 </span>
                                <h6 class="mb-1">Mike John </h6>

                            </div>
                        </div> <!-- icontext.// -->
                        <div class="mt-3">
                            <p>
                                Dummy comment Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip
                            </p>
                        </div>
                    </article>


                </div> <!-- col.// -->
            </div> <!-- row.// -->


        </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    <script>
        $("#product select[name='color']").on('change', function () {
            var $this = $(this);
            if ($this.val() !== '') {
                $.ajax({

                    url: '/api/' + '{{ product.id }}/' + $this.val(),
                    type: 'GET',

                    success: function (resp) {
                        let options = '';
                        if (options === '') {
                            resp.data.forEach(data => {
                                options += "<option value=" + data.size__size + ' ' + 'class="form-control"' + ">" + data.size__size + "</option>";
                            });
                            $("#product select[id='size']").find('.form-control').after(options);
                        } else {
                            $("#product select[id='size']").find('.form-control').nextAll().remove();
                        }
                        console.log(options);
                    },
                    error: function (resp) {
                        console.log('Something went wrong');
                    }
                });
            } else {
                $("#product select[id='size']").find('.form-control').nextAll().extend('Выбор размера').remove()
            }
        });
    </script>
{% endblock %}